.header {
  position: relative;
  background-color: var(--bg-dark);
  padding: calc(var(--padding-Y) * 3) calc(var(--padding-X) * 20);
  box-shadow: 0 8px 16px rgba(43, 56, 48, 0.2);
  z-index: 1;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-regular);
  font-weight: 600;
  gap: calc(var(--gapPadding));
}

.header__logo-svg {
  color: var(--logo-color-unhover);
  max-width: 50px;
  cursor: pointer;
}

.header__logo--left,
.header__logo--right {
  transition: color 0.3s ease, transform 0.5s ease;
  transform-origin: bottom center;
}

.header__logo-svg:hover .header__logo--left {
  color: var(--logo-color-hover);
  transform: translate(-5px, -5px) scale(1.05);
}

.header__logo-svg:hover .header__logo--right {
  color: var(--logo-color-hover);
  transform: translate(5px, 5px) scale(1.05);
}

.header__logo-text{
  color: var(--color-link-unhover);
  transition: color 0.5s ease;
}

.header__logo-text:hover {
  color: var(--main-text-color);
}

.header__list {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: var(--font-regular);
  font-weight: 400;
  gap: calc(var(--gapPadding) * 10);
}

.header__link {
  color: var(--main-text-color);
  cursor: pointer;
  transition: color 0.5s ease;
}

.header__link:hover {
  color: var(--color-link-nav-hover);
}

.header__link--login {
  border-radius: 25px;
  border: 2px solid var(--color-link-hover);
  padding: 10px 25px;
  transition: color 0.7s ease, background-color 0.7s ease, border-color 0.7s ease;
}

.header__link--login:hover {
  color: var(--main-text-color);
  background-color: rgb(16, 52, 32, 0.8);
  border-color: var(--main-text-hover);
}