.benefit {
  display: flex;
}

.benefit__header {

}

.benefit__starter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0;
}

.benefit__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96EF7626;
  width: 170px;
  height: 25px;
  border-radius: 25px;
  font-size: var(--font-smaillest);
  color: var(--bg-button);
}

.benefit__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-xlarge);
  padding: 25px 0 45px;
}

.benefit__row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
}

.benefit__row--top {
  justify-content: center;
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
}

.benefit__row--bottom {
  justify-content: center;
  width: 100%;
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
}

.benefit__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  height: 270px;
  max-width: 350px; 
  background-color: var(--box-benefit);
  padding: 40px 50px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.05); */
  border-radius: 25px;
}

.benefit__item-title {

}

.benefit__item-text {
  margin: 10px auto;
}

.box_benefit-span {
  display: flex;
  flex-direction: column;
  color: var(--hero-text);
  margin: 5px 0 0;
}

.benefit__tag--email {
  background-color: #1C5552;
  align-content: center;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  margin: 5px 0;  
}

.benefit__tag--efficiency {
  background-color: #7848DF;
  align-content: center;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  padding: 0 20px; 
  margin: 5px 0;
}

.benefit__tag-campaign {
  background-color: #EC8C66;
  align-content: center;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  padding: 0 20px; 
  margin: 5px 0;
}

.benefit__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 250px;
}
.benefit__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 250px;
}
.benefit__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 250px;
}
.benefit__image--affordability {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 350px;
}
.benefit__image--all {
  display: block;
  margin-top: auto;
  max-width: 350px;
}