:root {
  --flexWidth: 1220px;
  --flexPadding: 15px;
  --gapPadding: 5px;
  --padding-Y: 5px;
  --padding-X: 5px;
  --section-padding-y: 50px;

  --font-smaillest: 0.75rem;
  --font-smail: 0.875rem;
  --font-regular: 1rem;
  --font-medium: 1.25rem;
  --font-large: 1.5rem;
  --font-xlarge: 2rem;
  --font-heading: calc(var(--font-size-base) * 2);
  --padding-img: 5px;

  --logo-color-unhover: #2F872D;
  --logo-color-hover: #1dd219;
  --color-link-unhover: #cecece;
  --color-link-hover: #ffffff;
  --color-link-nav-hover: #96EF76;
  --main-text-color: #ffffff;

  --bg-dark: #0B150F;
  --bg-light: #ffffff;
  --bg-button: #2F872D;
  --bg-button-hover: #96EF76;
  --color-brands: #626262;


  --drop-shadow: rgba(73, 73, 73, 0.25);


  --main-text-hover: #2F872D;
  --hero-text: #ffffff;
  --hero-caps-text: #96EF76;
  --hero-bg-box: rgba(46, 134, 44, 0.322);
  --main-text: #333333;


  --box-benefit: #F7F7F7;
}